*
{
    margin: 0;
    padding: 0;
    box-sizing: 0;
}

body
{
    background-color: #000;
    min-height: 100vh;
}

header
{
    background-color: #141414;
    box-shadow: 0px 3px 10px #000;
}

.nav-bar 
{
    display: flex;
    justify-content: space-between;
    padding: 1.5rem 6rem;

}

.logo
{
    display: flex;
    align-items: center;
}
.logo h1
{
    color: rgb(160, 24, 24);
}


.nav-list
{
    display: flex;
    align-items: center;
}

.nav-list ul 
{
    display: flex;
    justify-content: center;
    list-style: none;
}

.nav-list ul li:not(.lg)::after
{
    display: block;
    content: '';
    width: 0%;
    background-color: rgb(160, 24, 24);
    transition: 0.5s;
    height: 3px;
}

.nav-list ul li:hover::after
{
    width: 100%;
}

.nav-item
{
    margin: 0 15px;
}

.nav-link 
{
    text-decoration: none;
    font-size: 1.15rem;
    color: #fff;
    font-weight: 400;
}

.login-button button 
{
    border: none;
    background-color: rgb(160, 24, 24);
    padding: 10px 15px;
    border-radius: 5px;
}

.login-button button:hover
{
    opacity: 0.9;
}

.login-button button a 
{
    color: #fff;
    text-decoration: none;
    font-weight: 500;
}

.mobile-menu-icon
{
    display: none;
}

.mobile-menu
{
    display: none;
}

/* Main */

main 
{
    display: flex;
    align-items: center;
    margin-top: 20px;
}

main .main-text
{
    width: 50%;
}

main .main-text h1 
{
    font-size: 4rem;
    color: #fff;
}

main .main-text h1 b 
{
    background-color: rgb(160, 24, 24);
    color: #fff;
    padding: 0 5px;
    font-size: 4rem;
}

main .main-text p 
{
    color: #fff;
    margin: 20px 0 40px;
    width: 90%;
}

main .main-imagem
{
    width: 50%;
}

main .main-imagem img 
{
    width: 100%;
}

/* footer */

footer 
{
    width: 100%;
    color: #fff;
}

.footer-content
{
    background-color: #141414;
    box-shadow: 0px 3px 10px #000;
    display: grid;
    grid-template-columns: repeat(4,1fr);
    padding: 3rem 3.5rem;
}

.footer-contacts h1
{
    margin-bottom: 0.75rem;
}

.midia-social
{
    display: flex;
    gap: 2rem;
    margin-top: 1.5rem;
}

.midia-social .footer-link
{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 2.5rem;
    width: 2.5rem;
    color: #fff;
    border-radius: 50%;
    transition: all 0.4s;
}

.midia-social .footer-link:hover
{
   opacity: 0.8;
}

#instagram
{
    background: linear-gradient(#7f37c9,#ff2992,#ff9807);
}

#whatsapp
{
    background: #25d366;
}

.footer-list 
{
    display: flex;
    flex-direction: column;
    gap: 0.75rem;
    list-style: none;
}

.footer-list .footer-link
{
    color: #fff;
}

.footer-list .footer-link:hover
{
    color: rgb(160, 24, 24);
    transition: all 0.4s;
}

.footer-subscribe
{
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

.footer-subscribe p 
{
    color: #fff;
}

.input-group
{
    display: flex;
    align-items: center;
    background: #000;
    border-radius: 4px;
}

.input-group input
{
    all: unset;
    padding: 0.75rem;
    width: 100%;
}

.input-group  button 
{
    background-color: rgb(160, 24, 24);
    border: none;
    color: #fff;
    padding: 0px 1.25rem;
    font-size: 1.125rem;
    height: 100%;
    border-radius: 0px 4px 4px 0px;
    cursor: pointer;
    transition: all 0.4s;
}

.input-group button:hover
{
    opacity: 0.8;
}

#footer-copyright
{
    display: flex;
    justify-content: center;
    font-size: 0.9rem;
    padding: 1.5rem;
    font-weight: 100;
}

/* Responsividade */

@media screen and (max-width:730px)
{
    .nav-bar
    {
        padding: 1.5rem 4rem;
    }

    .nav-item
    {
        display: none;
    }
    .login-button
    {
        display: none;
    }

    .mobile-menu-icon
    {
        display: block;
    }
    
    .mobile-menu-icon button 
    {
        background-color: transparent;
        border: none;
        cursor: pointer;
    }

    .mobile-menu ul 
    {
        display: flex;
        flex-direction: column;
        text-align: center;
        padding-bottom: 1rem;
    }

    .mobile-menu .nav-item
    {
        display: block;
        padding-top: 1.2rem;
    }

    .mobile-menu .login-button
    {
        display: block;
        padding: 1rem 2rem;
    }

    .mobile-menu .login-button button 
    {
        width: 100%;
    }
    
    .open
    {
        display: block;
    }



    main 
    {
        flex-direction: column;
        padding: 20px;
    }

    main .main-text 
    {
        width: 100%;
        text-align: center;
    }

    main .main-imagem
    {
        margin-top: 70px;
        width: 100%;
    }

    .footer-content
    {
        grid-template-columns: repeat(2,1fr);
        gap: 2rem;
    }

    @media (max-width:400px)
    {
        main .main-text h1 b 
        {
            font-size: 2rem;
        }

        .footer-content
        {
            grid-template-columns: repeat(1,1fr);
            padding: 3rem 2rem;
        }
    }
}
    

